/* body {
    display: flex;
    margin-top:20px;
    width: 200px;
    background-color: #f1f1f1; 
}
*/

#h_atg {
    padding-left: 30px;
    font-size: 30px;
    

}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 30%;
    background-color: aliceblue;
   }
ul li {
    margin:30px 40px;
    display: block;
    cursor: pointer;
    position: relative;
    padding-bottom: 10px;
    font-size: 20px;
    
}
ul li:hover {
    background-color: aqua;
}

