#css {
    color: white;
    background-color: cornflowerblue;
    padding: 50px;
    text-align: center;
    font-size: 30px;
}
.css {
    color: black;
    background-color:bisque;
    font-size: 30px;
    text-align: center;
    padding: 50px;
}